@font-face {
    font-family: 'Proxima Nova';
    src: 'fonts/ProximaNova-Regular.otf';
}

@font-face {
    font-family: 'Caviar Dreams';
    src: 'fonts/CaviarDreams.ttf';
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams_Bold.ttf");
    font-weight: bold;
}

* {
    font-family: 'Proxima Nova';
    font-size: 1.1rem;
}

body {
    background-color: #231F20;
}

.bg-dark {
    background-color: #231F20 !important;
}
h1, h2 {
    font-family: 'Caviar Dreams';
}

nav {
    background-color: #231F20;
}

nav i {
    color: white;
    font-size: 1rem;
}

.navbar-toggler {
    margin: -.5rem 0 0 -1rem;
}

nav a {
    color: white !important;
}

aside {
    background-color: #231F20;
}

aside h1 {
    letter-spacing: .8rem;
    font-size: 2rem;
    line-height: 2rem;
    /* margin: -1rem .5rem -2rem -2rem; */
    z-index: 4;
}

#mascot {
    width: 400px;
    max-height: 75vh;
    max-width: 80vw;
}

aside a {
    color: #DDC0FF;
    font-family: 'Caviar Dreams';
    font-size: 1.5rem;
    text-align: center;
}

aside a:hover {
    color: white;
    text-decoration: none;
}

#decoration1 {
    width: 100vw;
    height: 30vh;
    background-image: url('images/decoration1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#decoration2 {
    width: 100vw;
    height: 30vh;
    background-image: url('images/decoration2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    background-color: #F0ECFF;
}

main a {
    color: #463280;
}

main a:hover {
    text-decoration: none;
    color: #DDC0FF;
}

main > div p {
    color: #463280;
}

#sponsors > div img {
    transition: all .3s;
}

#sponsors > div img:hover {
    opacity: .4;
}

.pearl, .gold, .silver, .extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pearl img {
    max-width: 25rem;
    padding: 1rem;
}

.gold img {
    max-width: 20rem;
    padding: 1rem;
}

.silver img {
    max-width: 13rem;
    padding: 1rem;
}

.extra img {
    padding: 1rem;
    max-width: 10rem;
}

#sponsors {
    background-color: #231F20;
    text-align: center;
}

#sponsors {
    color: #F0ECFF;
}

#sponsor-imgs {
    max-width: 800px;
    margin: 1rem 1rem 3rem 1rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 5px black;
}

footer {
    background-color: #463280;
}

footer ul {
    list-style-type: none;
    margin-bottom: 0;
}

footer li {
    padding: 2rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: #DDC0FF;
}

footer i {
    font-size: 2rem;
}


@media all and (max-width: 425px) {    
    .pearl img {
        max-width: 20rem;
        padding: 1rem;
    }

    .gold img {
        max-width: 28rem;
        padding: 1rem;
    }

    .silver img {
        max-width: 12rem;
        padding: 1rem;
    }

    .extra img {
        padding: 1rem;
        max-width: 8rem;
    }

    .pearl img, .gold img, .silver img, .extra img {
        max-width: 80%;
    }

}

#bar {
    height: 75vh;
    width: 1vw;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

@media all and (min-width: 1024px) {
    aside h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    nav i {
        font-size: 1.5rem;
    }
    
    .navbar-toggler {
        margin: 0;
    }

    #jellyfish, #sponsors {
        background-color: #F0ECFF !important;
    }

    #sponsors h2 {
        color: #231F20;
    }

    #sponsor-imgs {
        box-shadow: 0px 3px 5px gray;
    }
}    
