@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams_Bold.ttf");
    font-weight: bold;
}

* {
    font-family: 'Proxima Nova';
    font-size: 1.1rem;
}

#mlh {
    position: absolute;
    z-index: 5;
    left: 10vh;
    min-width: 90px;
}

main {
    padding-bottom: 2rem;
}


.bg-dark {
    background-color: #231F20 !important;
}

.text-light {
    color: #DDC0FF !important;
}

h1, h2, h3, h4 {
    font-family: 'Caviar Dreams';
    font-weight: bold;
}

nav i {
    color: white;
    font-size: 1rem;
}

nav a {
    color: white !important;
    font-family: 'Caviar Dreams' !important;
    text-transform: uppercase;
}

nav a:hover {
    color: #DDC0FF !important;
}

.dropdown-menu {
    margin-left: -1rem;
}

.dropdown-menu a:hover {
    background-color: transparent;
}



aside h1 {
    letter-spacing: .8rem;
    font-size: 2rem;
    line-height: 2rem;
    /* margin: -1rem .5rem -2rem -2rem; */
    z-index: 4;
}

#mascot {
    width: 400px;
    max-height: 75vh;
    max-width: 80vw;
}

aside a {
    color: #DDC0FF;
    font-family: 'Caviar Dreams';
    font-size: 1.5rem;
    text-align: center;
}

aside a:hover {
    color: white;
    text-decoration: none;
}

#decoration1 {
    width: 100vw;
    height: 20vh;
    background-image: url('images/decoration1.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#decoration1-desktop {
    width: 100vw;
    height: 15vh;
    background-image: url('images/wave-desktop-01.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#decoration2 {
    width: 100%;
    height: 30vh;
    background-image: url('images/decoration2.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: -.75rem;
}
main {
    background-color: #F0ECFF;
}

.btn-dark {
    background-color: #463280;
    color: #F0ECFF;
    padding: .5rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: 'Caviar Dreams';
    font-weight: bold;
    margin-bottom: 1rem;
    border: 2px solid #463280;
}

.btn-dark:hover {
    background-color: #F0ECFF;
    color: #463280;
    border: 2px solid #463280;

}

.btn-light {
    background-color: #EDE3FD;
    color: #463280;
    border-radius: 2rem;
    padding: 0.5em 2rem;
    border: 2px solid #EDE3FD;
    margin: 1rem;
    font-weight: bold;
}

.btn-light:hover {
    color: #EDE3FD;
    background-color: transparent;
    border: 2px solid #EDE3FD;
}

main a:hover {
    text-decoration: none;
    color: #DDC0FF;
}

main > div p {
    color: #463280;
}

h2 {
    padding-top: 2rem;
}
#sponsors > div img {
    transition: all .3s;
}

#sponsors > div img:hover {
    opacity: .4;
}

.pearl, .gold, .silver, .extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pearl img {
    max-width: 25rem;
    padding: 1rem;
}

.gold img {
    max-width: 20rem;
    padding: 1rem;
}

.silver img {
    max-width: 13rem;
    padding: 1rem;
}

.extra img {
    padding: 1rem;
    max-width: 10rem;
}

#sponsors {
    color: #F0ECFF;
}

footer {
    background-color: #463280;
}

footer ul {
    list-style-type: none;
    margin-bottom: 0;
}

footer li {
    padding: 2rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: #DDC0FF;
}

footer i {
    font-size: 2rem;
}


@media all and (max-width: 425px) {    
    .pearl img, .gold img, .silver img, .extra img {
        max-width: 80%;
    }

}

#bar {
    height: 75vh;
    max-height: 600px;
    border-radius: 10px;
    background-color: white;
}



@media all and (min-width: 1024px) {
    .gradient {
        background: transparent linear-gradient(to bottom, #EDE3FD 0%, #F0ECFF 100%) 0% 0% no-repeat padding-box;
    }

    aside {
        height: 100%;
        background-image: url('images/dark-bg.svg');
        background-repeat: no-repeat;
        background-size: 125% 140%;
        background-position: top;
    }

    aside h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    nav i {
        font-size: 1.5rem;
    }

    #jellyfish, #sponsors {
        background-color: #F0ECFF !important;
    }

    #sponsors h2 {
        color: #231F20;
    }

    #mlh {
        position: fixed;
        left: 85vw;
        max-width: 130px; 
    }
}    

.accordion .card {
    background-color: #F0ECFF;
    border-radius: 0rem;
    border: 0px solid #DDC0FF;
    margin: 1rem -.5rem 0;

}

.accordion .card button {
    color: #DDC0FF !important;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 2rem;
    border: 2px solid #463280;
    width: 100%;
    padding: 0.5rem 1.5rem;
    background-color: #463280;
}

.accordion .card button:hover {
    background-color: #F0ECFF;
    color: #463280 !important;
}

.accordion .card-header {
    border-bottom: 0px solid #DDC0FF;
    background-color: transparent;
}

.accordion .card-body {
    background-color: transparent;
    color: #463280;
    padding: 0 2rem;
}

.filler {
    min-height: 100vh;
}