@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams.ttf");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams_Bold.ttf");
    font-weight: bold;
}

@font-face{
    font-family:"Geo Sans Light";
    src: url("fonts/GeosansLight.ttf");
}

@font-face{
    font-family:"Geo Sans Light";
    src: url("fonts/GeosansLight-Oblique.ttf");
    font-style: oblique;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Geo Sans Light"
}

a {
    text-decoration: none;
    color: #323232;
}

body {
    width: 100%;
    overflow-x: hidden;
}

main {
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fbd9e8;
    color: #323232;  
}


.content {
    max-width: 900px;
    text-align: center;
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "mascot message"
        "mascot button"
        "footer footer";
    text-align: center;
    font-size: x-large;
    align-items: center;
    padding: 0 2rem;
}

#logo {
    width: 1.25em;
    padding: 3px;
}

#mascot {
    grid-area: mascot;
    width: 100%;
}


p {
    align-self: end;
    width: 90%;
    grid-area: message;
    padding: 1em;
    margin: 0 auto;
}

h1 {
    font-family: 'Caviar Dreams';
    color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    font-weight: 300;
    margin: 0;
    padding-bottom: .5em;
}


h2 {
    font-family: 'Caviar Dreams';
    text-transform: uppercase;
    font-size: 1em;
}


._button {
    background-color: #f16985;
    color: #ffffff;
    width: fit-content;
    grid-area: button;
    margin: 0 auto;
    padding: 1rem 2rem .8rem;
    border-radius: 2rem;
    transition: all .3s;
    display: block;
    font-size: large;
}

._button:hover {
    background-color: #323232;
}

ul {
    list-style-type: none;
    grid-area: footer;
    padding: 1.5rem 10vw .5rem;
    display: flex;
    justify-content: center;
}

li {
    padding: 2rem;
}

li i {
    transition: all .3s;
    font-size: 1.5em;
}

li a :hover {
    color: #f16985;
}

#sponsors {
    background-color: white;
    text-align: center;
    padding: 2em;
    max-width: 900px;
    margin: 0 auto;
}

#sponsors img {
    transition: all .3s;
}

#sponsors img:hover {
    opacity: .4;
}

.pearl, .gold, .silver, .extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pearl img {
    max-width: 25rem;
    padding: 1rem;
}

.gold img {
    max-width: 20rem;
    padding: 1rem;
}

.silver img {
    max-width: 13rem;
    padding: 1rem;
}

.extra img {
    padding: 1rem;
    max-width: 10rem;
}

@media only screen and (max-width: 767px) {
    .content {
        grid-template-areas:
            "header header"
            "mascot mascot"
            "message message" 
            "button button"
            "footer footer";
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    #mascot {
        width: 50%;
        margin: 0;
    }
    
    
    li {
        padding: 1em;
    }

    p {
        align-self: center;
        width: 70%;
        padding: 1em;
    }

    
}

@media all and (max-width: 425px) {
    h1 {
        font-size: 1.5em;
        margin: .5em;
    }

    #mascot {
        width: 80%;
    }

    .content {
        grid-template-rows: 1fr 4fr 1fr;

    }

    h2 {
        font-size: 1em;
    }

    p {
        padding: 1em;
        width: 80%
    }

    ._button {
        padding: .75em 1em .65em;
        margin: 0em;
    }

    
    .pearl img {
        max-width: 20rem;
        padding: 1rem;
    }

    .gold img {
        max-width: 28rem;
        padding: 1rem;
    }

    .silver img {
        max-width: 12rem;
        padding: 1rem;
    }

    .extra img {
        padding: 1rem;
        max-width: 8rem;
    }

    .pearl img, .gold img, .silver img, .extra img {
        max-width: 80%;
    }

}