<nav class="navbar navbar-expand-lg navbar-light w-100 bg-black">
    <a class="navbar-brand d-lg-none pl-2" href="index.html">
        <img src="images/phlogo.svg" width="30" height="30" alt="Pearl Hacks Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-dropdown"
        aria-controls="navbar-dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-center" id="navbar-dropdown">
        <ul class="p-0 navbar-nav d-lg-flex col-lg-8 justify-content-lg-around align-items-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-link" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Register
                </a>
                <div class="dropdown-menu bg-black" aria-labelledby="navbar-dropdown-link">
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/Elv0RM"
                        target="blank">Participants</a>
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/Kj7GfG"
                        target="blank">Volunteers</a>
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/eRroMd"
                        target="blank">Mentors</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="schedule.html">Schedule</a>
            </li>
            <a class="navbar-brand d-none d-lg-inline" id="ph_logo" href="index.html">
                <img src="images/phlogo.svg" width="30" height="30" alt="Pearl Hacks Logo">
            </a>
            <li class="nav-item">
                <a class="nav-link" href="travel.html">Travel</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-link" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    More Info
                </a>
                <div class="dropdown-menu bg-black" aria-labelledby="navbar-dropdown-link">
                    <a class="dropdown-item" href="about_us.html">About Us</a>
                    <a class="dropdown-item" href="faq.html">FAQ</a>
                </div>
            </li>
        </ul>
    </div>
</nav>